<mat-toolbar color="primary">
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/">
    <mat-icon>library_books</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/create">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</mat-toolbar>


<!--

  "src/assets/app.js",
  "src/assets/js/appear.js",
  "src/assets/js/bootstrap.min.js",
  "src/assets/js/color-settings.js",
  "src/assets/js/jquery-ui.js",
  "src/assets/js/jquery.countdown.js",
  "src/assets/js/jquery.easing.min.js",
  "src/assets/js/jquery.fancybox.js",
  "src/assets/js/jquery.js",
  "src/assets/js/map-script.js",
  "src/assets/js/owl.js",
  "src/assets/js/parallax.min.js",
  "src/assets/js/popper.min.js",
  "src/assets/js/script.js",
  "src/assets/js/swiper.min.js",
  "src/assets/js/validate.js",
  "src/assets/js/wow.js"
  -->
